<h1>Listing Student Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @student_groups.each do |student_group| %>
      <tr>
        <td><%= student_group.name %></td>
        <td><%= student_group.description %></td>
        <td><%= link_to 'Show', student_group %></td>
        <td><%= link_to 'Edit', edit_student_group_path(student_group) %></td>
        <td><%= link_to 'Destroy', student_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Group', new_student_group_path %>
