<div class="row banner-offset">
	<div class="large-12 columns">
		<% if logged_in? %>
			<h1>Who can help me?</h1>
			<div class="row">
				<% @support_groups.each do |group| %>
					<div class="large-3 medium-6 small-12 columns">
						<div class="panel">
							<h5><%= group %></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
							<a href="#" class="disabled button chat-button" data-chat-id="<%= group %>">Checking...</a>
						</div>
					</div>
				<% end %>
			</div>
		<% else %>
			<h5>You are not logged in. <%= link_to "Login now", new_session_path %> to talk to people who can help you.<h5>
		<% end %>
	</div>
	<div class="large-12 columns">
		<h3>Your <%= pluralize_without_count(@course_reps.length, 'Representative') %></h3>
		<div class="row">
			<% @course_reps.each do |rep| %>
				<div class="large-4 medium-6 small-12 columns">
					<div class="panel">
						<h3><%= rep.user.name %></h3>
						<h5><%= rep.course.name %></h5>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="large-12 columns">
		<% @articles.each do |article| %>
			<p><%= article.title %></p>
		<% end %>
	</div>
</div>
<script>
	window.initHelpIndex();
</script>