<div class="row banner-offset">
	<% if logged_in? && current_user.course && !current_user.year.blank? %>
		<div class="large-12 columns">
			<h1>Who can help me?</h1>
			<div class="row">
				<% @support_groups.each do |group| %>
					<div class="large-3 medium-6 small-12 columns">
						<div class="panel">
							<h5><%= group %></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
							<a href="#" class="disabled button chat-button" data-chat-id="<%= group %>">Checking...</a>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="large-12 columns">
			<h1>Your Representatives</h1>
			<div class="row">
				<% @course_reps.each do |rep| %>
					<div class="large-12 columns">
						<div class="representative">
							<span class="description">
								<h3><%= rep.user.name %> <small><%= rep.course.name %></small></h3>
							</span>
							<%= form_for(Message.new, url: new_message_path) do |f| %>
								<%= f.hidden_field :to_user_id, :value => rep.user.id %>
								<%= f.submit "Contact", class: "button small" %>
							<% end %>
						</div>
					</div>
				<% end %>
				<div class="large-12 columns">
					<div class="representative">
						<span class="description">
							<h3>Academic President of <%= @academic_president.academic_unit.name %></h3>
						</span>
						<%= form_for(Message.new, url: new_message_path) do |f| %>
							<%= f.hidden_field :to_user_id, :value => @academic_president.user.id %>
							<%= f.submit "Contact", class: "button small" %>
						<% end %>
					</div>
				</div>
				<div class="large-12 columns">
					<div class="representative">
						<span class="description">
							<h3>Faculty Officer for <%= @faculty_officer.faculty.name %></h3>
						</span>
						<%= form_for(Message.new, url: new_message_path) do |f| %>
							<%= f.hidden_field :to_user_id, :value => @faculty_officer.user.id %>
							<%= f.submit "Contact", class: "button small" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<h5 class="banner-offset">You are not logged in. <%= link_to "Login now", new_session_path %> to contact your representatives.<h5>
	<% end %>
	<div class="large-12 columns">
		<% @articles.each do |article| %>
			<h3><%= article.title %></h3>
			<p><%= article.body %></p>
		<% end %>
	</div>
</div>
<script>
	window.initHelpIndex();
</script>