<div class="row edit-profile">
	<div class="small-12 medium-6 large-6 columns left">
		<%= form_for(@profile,
								 :as => 'profile',
								 :url => update_profile_path(@profile),
								 :action => :update, 
								 :html => {
									 :method => :put,
									 :multipart => true
								 }) do |f| %>
			<div class="row">
				<div class="large-3 columns left">
					<%= image_tag @profile.get_avatar_url(:medium), size: "100x100", class: "avatar", alt: @profile.name %>
				</div>
				<div class="large-9 columns">
					<%= f.label :avatar %>
					<%= f.file_field :avatar %>
				</div>
				<div class="large-12 columns"></div>
				<div class="large-6 medium-6 small-12 columns <%= field_error_class @profile, :first_name %>">
					<%= f.label :first_name %>
					<%= f.text_field :first_name %>
					<%= field_error @profile, :first_name, "First Name" %>
				</div>
				<div class="large-6 medium-6 small-12 columns <%= field_error_class @profile, :last_name %>">
					<%= f.label :last_name %>
					<%= f.text_field :last_name %>
					<%= field_error @profile, :last_name, "Last Name" %>
				</div>
				<div class="large-8 columns">
					<%= f.label :course %>
					<%= f.select :course_id, options_from_collection_for_select(Course.all, :id, :name, @profile.course_id), :include_blank => true %>
				</div>
				<div class="large-4 columns">
					<%= f.label :year %>
					<% years_display = User.years.to_a.map {|y| [y[1], y[0]]} %>
					<%= f.select :year, options_for_select(years_display, @profile.year), :include_blank => true %>
				</div>
				<div class="large-12 columns">
					<%= f.label :email %>
					<%= f.email_field :email %>
				</div>
				<div class="large-12 columns">
					<% if @profile.is_a?(LocalUser) && @profile.pending_reconfirmation? %>
						<p><strong>Currently waiting confirmation for: <%= @profile.unconfirmed_email %></strong></p>
					<% end %>
				</div>
				<div class="large-12 columns <%= field_error_class @profile, :password %>">
					<label>Password <small>Leave blank if you don't want to change it</small></label>
					<%= f.password_field :password, :autocomplete => "off" %>
					<%= field_error @profile, :password, "Password" %>
				</div>
				<div class="large-12 columns <%= field_error_class @profile, :password_confirmation %>">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation %>
					<%= field_error @profile, :password_confirmation, "Confirmation" %>
				</div>
				<div class="large-12 columns <%= field_error_class @profile, :current_password %>">
					<label>Current Password <small>Needed to change it</small></label>
					<%= f.password_field :current_password %>
					<%= field_error @profile, :current_password, "Password" %>
				</div>
				<div class="large-12 columns">
					<%= f.submit "Update", class: "button" %>
				</div>
			</div>
		<% end %>
		<p><%= button_to "Delete my account", delete_profile_path(@profile), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "button alert" %></p>
	</div>
</div>
