<div class="row confirmation-resend">
  <div class="small-12 medium-6 large-6 columns left">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
      <%= f.submit "Resend confirmation instructions", class: "button" %>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-6 columns right">
    <%= render "shared/login_help_links", :view => :resend_confirmation %>
  </div>
</div>
