<div class="row confirmation-resend">
  <div class="small-12 medium-6 large-6 columns left">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
      <%= f.submit "Resend confirmation instructions", class: "button" %>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-6 columns right help">
    <p>
      <%= link_to "Login", new_session_path %><br/>
      <%= link_to "Create a SUSU account", new_local_user_registration_path %><br/>
      <%= link_to "Forgot your SUSU password?", new_local_user_password_path %><br/>
    </p>
  </div>
</div>
