<%= form_for(@menu) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= field_error_class @menu, :place_id %>">
      <%= f.label :place_id %>
      <%= f.select :place_id, options_from_collection_for_select(Place.all, :id, :name, @menu.place_id), :include_blank => false %>
      <%= field_error @menu, :place_id, "Place" %>
    </div>
    <div class="large-12 columns">
      <%= f.submit class: "button" %>
      <% if params[:action] == "edit" %>
        <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
      <% end %>
    </div>
  </div>
<% end %>