<%= form_for(@issue) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= field_error_class @issue, :title %>">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= field_error @issue, :title, "Title" %>
    </div>
    <div class="large-12 columns <%= field_error_class @issue, :description %>">
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= field_error @issue, :description, "Post" %>
    </div>
    <div class="large-12 columns">
      <%= f.submit class: "button" %>
      <% if params[:action] == "edit" %>
        <%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
      <% end %>
    </div>
  </div>
<% end %>
