<%= form_for(@help_article) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= field_error_class @help_article, :title %>">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= field_error @help_article, :title, "Title" %>
    </div>
    <div class="large-12 columns <%= field_error_class @help_article, :body %>">
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= field_error @help_article, :body, "Body" %>
    </div>
    <div class="large-12 columns">
      <%= f.submit class: "button" %>
      <% if params[:action] == "edit" %>
        <%= link_to 'Destroy', @help_article, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
      <% end %>
    </div>
  </div>
<% end %>