<div class="row password-reset">
  <div class="small-12 medium-6 large-6 columns left">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="row">
        <%= f.hidden_field :reset_password_token %>
        <div class="large-12 columns <%= field_error_class :password %>">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, :autofocus => true %>
          <%= field_error :password, "Password" %>
        </div>
        <div class="large-12 columns <%= field_error_class :password_confirmation %>">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation %>
          <%= field_error :password_confirmation, "Password Confirmation" %>
        </div>
        <div class="large-12 columns">
          <%= f.submit "Change my password", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-6 columns right">
    <%= render "shared/login_help_links", :view => :reset_password %>
  </div>
</div>
