<%= form_for(@student_group_kind) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= field_error_class @student_group_kind, :name %>">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= field_error @student_group_kind, :name, "name" %>
    </div>
    <div class="large-12 columns <%= field_error_class @student_group_kind, :description %>">
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= field_error @student_group_kind, :description, "Post" %>
    </div>
    <div class="large-12 columns">
      <%= f.submit class: "button" %>
      <% if params[:action] == "edit" %>
        <%= link_to 'Destroy', @student_group_kind, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
      <% end %>
    </div>
  </div>
<% end %>