<%= form_for(@student_group_kind) do |f| %>
  <% if @student_group_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_group_kind.errors.count, "error") %> prohibited this student_group_kind from being saved:</h2>

      <ul>
      <% @student_group_kind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
