<%= form_for(@permission) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= field_error_class @permission, :user_id %>">
      <%= f.label :user_id %>
      <%= f.number_field :user_id %>
      <%= field_error @permission, :user_id, "User ID" %>
    </div>
    <div class="large-12 columns <%= field_error_class @permission, :subject_class %>">
      <%= f.label :subject_class %>
      <%= f.text_field :subject_class %>
      <%= field_error @permission, :subject_class, "Resource" %>
    </div>
    <div class="large-12 columns <%= field_error_class @permission, :subject_id %>">
      <%= f.label :subject_id %>
      <%= f.number_field :subject_id %>
      <%= field_error @permission, :subject_id, "Resource ID" %>
    </div>
    <div class="large-12 columns <%= field_error_class @permission, :action %>">
      <%= f.label :action %>
      <%= f.select :action, [
        ["Create", :create],
        ["Update", :update],
        ["Delete", :destroy],
      ] %>
      <%= field_error @permission, :action, "Action" %>
    </div>
    <div class="large-12 columns">
      <%= f.submit class: "button" %>
      <% if params[:action] == "edit" %>
        <%= link_to 'Destroy', @permission, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
      <% end %>
    </div>
  </div>
<% end %>
