<div class="row">
  <div class="small-12 columns">
       <h1>Activities</h1>
       <p>Student Groups are a great way to get more out of University. Maybe you could compete in one of the <%= @sport_count %> sports that are on offer? Societies cover everything imaginable, but if your niche is missing then you could start one! If you want to perform then the Performing Arts groups offer a world of choice, or help out your union by joining one of our media teams!</p> 
  </div>
</div>
<div class="row">
<div class="small-6 columns"><h2><strong><%= @society_count %></strong> Societies</h2></div>
<div class="small-6 columns"><h2><strong><%= @sport_count %></strong> Sports</h2></div>
<div class="small-6 columns"><h2><strong><%= @performing_art_count %></strong> Performing Arts</h2></div>
<div class="small-6 columns"><h2><strong><%= @media_group_count %></strong> Media Groups</h2></div>
</div>
