<div class="row banner-offset">
	<div class="small-12 columns">
		<h1>Activities</h1>
		<p class="show-for-medium-up">Student Groups are a great way to get more out of University. Maybe you could compete in one of the <%= @sport_count %> sports that are on offer? Societies cover everything imaginable, but if your niche is missing then you could start one! If you want to perform then the Performing Arts groups offer a world of choice, or help out your union by joining one of our media teams!</p>
	</div>
</div>
<div class="row">
	<div class="medium-6 small-12 columns"><h2><strong><%= @society_count %></strong> <%= link_to "Societies", societies_path %></h2></div>
	<div class="medium-6 small-12 columns"><h2><strong><%= @sport_count %></strong> <%= link_to "Sport Clubs", sports_path %></h2></div>
	<div class="medium-6 small-12 columns"><h2><strong><%= @performing_art_count %></strong> <%= link_to "Performing Arts", performing_arts_path %></h2></div>
	<div class="medium-6 small-12 columns"><h2><strong><%= @media_group_count %></strong> <%= link_to "Media Groups", media_groups_path %></h2></div>
</div>
<ul class="activities-showcase" data-orbit data-options="timer: false; slide_number: false; variable_height: true;">
	<li data-orbit-slide="showcase-1">
		<div class="row">
			<% @showcased_groups[0..2].each do |group| %>
				<div class="large-4 medium-4 small-12 columns group">
					<div class="group-logo-wrapper">
						<%= image_tag group.logo.url(:medium), class: "group-logo" %>
					</div>
					<h3><%= link_to group.name, group %></h3>
				</div>
			<% end %>
		</div>
	</li>
	<li data-orbit-slide="showcase-2">
		<div class="row">
			<% @showcased_groups[3..5].each do |group| %>
				<div class="large-4 medium-4 small-12 columns group">
					<div class="group-logo-wrapper">
						<%= image_tag group.logo.url(:medium), class: "group-logo" %>
					</div>
					<h3><%= link_to group.name, group %></h3>
				</div>
			<% end %>
		</div>
	</li>
	<li data-orbit-slide="showcase-3">
		<div class="row">
			<% @showcased_groups[6..8].each do |group| %>
				<div class="large-4 medium-4 small-12 columns group">
					<div class="group-logo-wrapper">
						<%= image_tag group.logo.url(:medium), class: "group-logo" %>
					</div>
					<h3><%= link_to group.name, group %></h3>
				</div>
			<% end %>
		</div>
	</li>
</ul>