<%= form_for(@place) do |f| %>
  <div class="row">
    <div class="large-12 columns <%= field_error_class @place, :name %>">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= field_error @place, :name, "Name" %>
    </div>
    <div class="large-12 columns <%= field_error_class @place, :description %>">
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= field_error @place, :description, "Description" %>
    </div>
    <div class="large-12 columns <%= field_error_class @place, :latitude %>">
      <%= f.label :latitude %>
      <%= f.number_field :latitude %>
      <%= field_error @place, :latitude, "Latitude" %>
    </div>
    <div class="large-12 columns <%= field_error_class @place, :longitude %>">
      <%= f.label :longitude %>
      <%= f.number_field :longitude %>
      <%= field_error @place, :longitude, "Longitude" %>
    </div>
    <div class="large-12 columns <%= field_error_class @place, :shown %>">
      <%= f.label :shown %>
      <%= f.check_box :shown %>
      <%= field_error @place, :shown, "Show" %>
    </div>
    <div class="large-12 columns">
      <%= f.submit class: "button" %>
      <% if params[:action] == "edit" %>
        <%= link_to 'Destroy', @place, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
      <% end %>
    </div>
  </div>
<% end %>
