<!--
  map(:container_id => "map",
      :center => {
      :latlng => [50.93452, -1.39714],
      :zoom => 12
  },
  :markers => @markers)
-->

<div id="map"></div>
<script>
  var map;
  $(function() {
    map = L.map('map');
    map.setView([50.93452, -1.39714], 18);
    <% @markers.each do |marker| %>
    marker = L.marker([<%= marker[:latlng][0] %>, <%= marker[:latlng][1] %>]).addTo(map);
    marker.bindPopup('<%= marker[:popup] %>')
    <% end %>
    L.tileLayer('http://tile.stamen.com/toner/{z}/{x}/{y}.png', {
              attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
              maxZoom: 18
          }).addTo(map);
    
    var buildings = [
      {
        name: "SUSU Building 42",
        points: [
          [50.934592,-1.397812],
          [50.934335,-1.396889],
          [50.934129,-1.397045],
          [50.934183,-1.397249],
          [50.934001,-1.397377],
          [50.933960,-1.397216],
          [50.933771,-1.397345],
          [50.933889,-1.397758],
          [50.933990,-1.397683],
          [50.934014,-1.397758],
          [50.933852,-1.397876],
          [50.933926,-1.398118],
          [50.934109,-1.397983],
          [50.934119,-1.398026],
          [50.934230,-1.397946],
          [50.934244,-1.397994],
          [50.934342,-1.397919],
          [50.934369,-1.397978]
        ]
      },
      {
        name: "The Shop",
        points: [
          [50.934545,-1.396953],
          [50.934406,-1.396476],
          [50.934305,-1.396551],
          [50.934447,-1.397023]
        ]
      },
      {
        name: "SUSU Building 40",
        points: [
          [50.934937,-1.397249],
          [50.934876,-1.397200],
          [50.934866,-1.397222],
          [50.934717,-1.397136],
          [50.934721,-1.397114],
          [50.934650,-1.397071],
          [50.934572,-1.397399],
          [50.934859,-1.397570]
        ]
      }
    ]
    
    $.each(buildings, function(index) {
      map.addLayer(
        L.polygon(this.points, {
          smoothFactor: 0.0,
          color: colour_wheel[index],
          opacity: 1.0,
          fillOpacity: 1.0
        })
      );
    });
    
  });
</script>

<div class="row">
  <% @places.each do |place| %>
    <div class="small-12 medium-6 large-6 columns">
      <h3><%= place.name %></h3>
      <p><%= place.description %></p>
      <%= render place.schedule %>
    </div>
  <% end %>
</div>
