<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-12 columns">
    <h2><%= @place.name %></h2>
    <p><%= @place.description %></p>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <p><%= @place.latitude %>, <%= @place.longitude %> </p>
  </div>
  <div class="small-12 large-6 columns">
    <%= render @place.schedule %>
  </div>
</div>

