<div class="row place banner-offset">
  <div class="large-6 medium-6 small-12 columns">
    <h2><%= @place.name %></h2>
    <p><%= render_markdown @place.description %></p>
    <% if @place.schedule %>
      <%= render @place.schedule %>
    <% end %>
  </div>
  <div class="large-6 medium-6 small-12 columns">
    <%=
      map(:container_id => "map",
          :center => {
          :latlng => [50.93452, -1.39714],
          :zoom => 18
      }, :markers => [
          :latlng => [@place.latitude, @place.longitude]
      ])
    %>
    <% if @place.menu %>
      <div class="menu_link">
        <h3><%= link_to "View Menu \u2192", menu_path(@place.menu) %></h3>
      </div>
    <% end %>
  </div>
</div>