<!DOCTYPE html>
<html>
	<head>
		<title>IssueTracker</title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	  	<%= render "shared/topnav" %>
	  	<%= render "shared/flash_messages" %>
	  	<%= yield %>
	  
	  	<%= javascript_include_tag "application" %>
	</body>
</html>
